<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'loggers' %>
    <title>My Logbook</title>
  </head>
  <body>
    <img src="./assets/book-cover.jpg" alt="" class="book_cover">
    <span class="title">
      Welcome to my Dev Journey
    </span>
    <span class="author">
      A documented experience by A. Wotawa
    </span>

    # display/unlock summary with JS (all categories)
  </body>
</html>
