// Place all the styles related to the logger controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
   padding: 0;
   margin: 0;
   background-color: #0b1826;
}

.book_cover {
  border: solid #462523;
  width: 75%;
  height: auto;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 100%;
  left: 50%;
}

.title {
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-family: 'Times New Roman',serif;
   letter-spacing: 5px;
   font-size: 85px;
   font-weight: bold;
   background-image: linear-gradient(
	to right,
	#462523 -15%,
       	#cb9b51 22%,
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 115%
	);
   color:transparent;
   -webkit-background-clip:text;

}

.author {
  position: absolute;
   transform: translate(-50%,-50%);
   top: 75%;
   left: 50%;
   font-family: 'Times New Roman',serif;
   letter-spacing: 5px;
   font-size: 20px;
   font-weight: bold;
   background-image: linear-gradient(
	to right,
	#462523 -15%,
       	#cb9b51 22%,
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 115%
	);
   color:transparent;
   -webkit-background-clip:text;
}
